<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="./assets/logo.png" alt="" class="logo-header"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button class="navbar-button" (click)="changeLanguage()">{{this.config.language}}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img [src]="this.image" *ngIf="this.image" alt="">
  </div>
</ion-content>
