<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="./assets/logo.png" alt="" class="logo-header"></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button class="navbar-button" (click)="changeLanguage()">{{this.config.language}}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img class="image-single" src="{{news.imageUrl || ''}}" alt="">
    <h2>{{news.title[this.config.language]}}</h2>
    <p class="location-address">{{news.date}}</p>
    <p class="location-content" [innerHTML]="news.content[this.config.language]"></p>
  </div>
</ion-content>

